<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>{{ space.getId|e }}</h2>
        <p>
Here you can modify some space settings.
        </p>
        <p class="warn">
Make sure you get the owner URL correct, otherwise the space cannot be managed
anymore!
        </p>
        <form class="edit_space" method="post" action="">
            <label for="owner">Owner</label><input id="owner" type="text" name="owner" value="{{ space.getOwner|e }}">
            {% if space.getSecret %}
                <input id="secret" name="secret" type="checkbox" checked="checked"><label for="secret">Secret</label>
            {% else %}
                <input id="secret" name="secret" type="checkbox"><label for="secret">Secret</label>
            {% endif %}
            <input type="submit" value="Save">
        </form>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
