<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>{{ space.getName|e }}</h2>
        <p>
Here you can modify some space settings.
        </p>
        <p class="warn">
Make sure you get the owner URL correct, otherwise the space cannot be managed
anymore!
        </p>
        <form class="edit_space" method="post" action="">
            <div>
                <label for="owner">Owner</label><input id="owner" type="text" name="owner" value="{{ space.getOwner.getName|e }}">
            </div>
            <div>
                {% if space.getSecret %}
                    <label><input name="secret" type="checkbox" checked="checked"> Secret</label>
                {% else %}
                    <label><input name="secret" type="checkbox"> Secret</label>
                {% endif %}
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
            {% if space.getMembers %}
                <h3>Members</h3>
                <p>
This is a list of members of this space:
                </p>
                <ul>
                {% for member in space.getMembers %}
                    <li><a href="{{ member.getName|e }}">{{ member.getName|e }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </form>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
