<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>FAQ</h2>

        <h3 id="acl">How do I use the group ACL?</h3>
        <p>
Using the group ACL is very easy. Just mention the members of the group in a
simple JSON document and put it on your website! For example:
        </p>
<pre>
{
    "id": "https://fkooman.github.io/indiehaus.json",
    "members": [
        "https://www.tuxed.net/",
        "https://wwelves.org/perpetual-tripper"
    ],
    "name": "IndieHaus"
}
</pre>
    <p>
Make sure the <code>id</code> field matches the URL where the JSON file can
be found.
    </p>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
