<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>FAQ</h2>

        <h3 id="acl">How do I use the group ACL?</h3>
        <p>
Using the group ACL is very easy. Just mention the members of the group in a
simple JSON document and put it on your website! Now specify this URL on the
space configuration page. For example an ACL file looks like this:
        </p>
<pre>
{
    "id": "https://fkooman.github.io/indiehaus.json",
    "members": [
        "https://www.tuxed.net/",
        "https://wwelves.org/perpetual-tripper"
    ],
    "name": "IndieHaus"
}
</pre>
    <p>
Make sure the <code>id</code> field matches the URL where the JSON file can
be found.
    </p>
    <p class="warn">
<strong>NOTE</strong>: for now the ACL is ONLY retrieved when you save the space configuration and not
at any other time. So if you modify the ACL file you need to "save" your space
again. In the future this will be automated.
    </p>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
