<ul class="header">
    <li><a href="{{ root|e }}">Home</a></li>
    {% if indieInfo %}
        <li><a href="{{ root|e }}_my_spaces/">My Spaces</a></li>
    {% endif %}
    <li><a href="{{ root|e }}_public/">Public Spaces</a></li>
    <li class="last"><a href="{{ root|e }}faq">FAQ</a></li>
</ul>
