<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>Phubble</h2>

        <p class="warn">
This is an <strong>EXPERIMENTAL</strong> service. Do not rely on it for serious
communication and make sure you have backups!
        </p>

        <p>
Welcome to Phubble! Phubble is a service for communicating with your friends,
family and colleagues. It is a proof of concept service supporting the
best practices from the IndieWeb.
        </p>

        <p>
Sign in with your domain, create a space, add some more people to your space
and start communicating!
        </p>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
