<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>Public Spaces</h2>

        {% if publicSpaces %}
            <p>
    This is a list of public spaces you can view. You need to be a member to post
    to them.
            </p>

            <ul>
            {% for space in publicSpaces %}
                <li><a href="{{ root|e }}{{ space.getId }}/">{{ space.getId|e }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="block">
No public spaces to list.
            </p>
        {% endif %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
