body {
    text-align: justify;
}

div#container {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}

h1 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

div.prevnext {
    overflow: hidden;
}

a.header {
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: underline;
    color: #000;
}

table.message {
    width: 100%;
    margin: 0.5em 0;
    border: 1px solid #bbb;
    border-collapse: collapse;
}

span.label {
    padding: 0.25em;
    border: 1px solid #d5d5d5;
    border-right: 0;
    background-color: #e5e5e5;
}

input[type=text], textarea {
    padding: 0.25em;
    border: 1px solid #d5d5d5;
}

form.editSpace input[type="text"], form.editSpace input[type="submit"] {
    display: block;
    margin: 0 0 1em 0;
}

form.editSpace input[type="submit"] {
    margin: 1em 0;
}
    
form.try {
    text-align: center;
    padding: 1em;
    margin: 1em auto;
}

input[type=submit], a.btn {
    padding: 0.25em;
    border: 1px solid #ddd;
    color: #000; 
    background: #eee;
    text-decoration: none;
}

input[type=submit].warn {
    background-color: #b00;
    border: 1px solid #a00;
    color: #fff;
}

form.message {
    margin: 1em 0 1em 0;
    padding: 0;
}

form.message textarea {
    padding: 0;
    margin: 0;
    width: 100%;
}

table.message th {
    font-size: 85%;
    font-weight: bold;
    padding: 0.5em;
    background-color: #eee;
}

table.message th.owner {
    background-color: #006633;
    color: #fff;
}

table.message th.owner a {
    color: #fff;
}

table.message td {
    background-color: #fff;
    padding: 0.5em;
}

span.date {
    float: right;
}

div.footer {
    overflow: hidden;
    font-size: 85%;
    color: #888;
    margin-bottom: 0.5em;
}

div.footer a {
    color: #888;
}

ul.mentions {
    color: #888;    
}

ul.mentions li a {
    color: #888;
}

span.mention_count {
    float: right;
    font-size: 85%;
    color: #888;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
